body {
    box-sizing: border-box;
    height: 100vh;
    max-width: 100%;
    background-size: cover;
    position: relative;
    color: whitesmoke;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../img/cinema3.jpg);
}
/*GENERAL STYLES*/
.wrapper {
    font-family: 'Quicksand', sans-serif;;
}

.opacity-wrapper {
    background-color: rgba(0, 0, 0, 0.6); 
}

.header-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.logo {
    font-size: 40px;
    margin: 10px;
}

.copyright {
    display: flex;
    align-items: center;
}

.menu-wrapper {
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

nav a {
    text-decoration: none;
    padding: 5px;
    color: white;

}

.main-wrapper {
    display: flex;
    justify-content: space-around;
}

.picture {
    border: 1px solid black;
    margin-right: 10px;
}

.picture img {
    max-width: 100%;
}

.feature {
    border: 1px solid black;
    margin-left: 10px;
    padding: 50px;
}

.bottom-wrapper{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.detail {
    border: 1px solid black;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.external-link {
    border: 1px solid black;
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/*INDEX STYLES*/
.index-main-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  align-items: center;
    margin: 11rem 0;
}

.welcome-message {
    font-size: 3rem;
}

.recommend img {
    max-width: 50%;
    margin: 0rem 20rem 0rem 20rem;
}